# MacOS
.DS_Store

# npm
node_modules/*
npm-debug.log
bower_components/*

# NYC
.nyc_output/
coverage/

# JetBrains

.idea/*

# Build
# For a fork to be deployable we need to be able to check in the dist directory
# /dist
/netlify
/api-docs
